@import url("https://fonts.googleapis.com/css2?family=Audiowide");  
.wrapper {
    display: flex;
    flex-direction: column;
    float:right;
    align-items: center;
    justify-content: center;
    
}
body{
    background: rgba(0, 0, 0, 0.904);
}
.container1{
    background:none;
    height:100vh;
}
.container2{
    background:none;
}
nav{
    background:url('../resources/backgrounds/hulk.jpg') no-repeat center center/cover;
    opacity:0.9;
}
.daily-mix {
    width: 170px;
    float:right;
    padding: 0;
    height: 300px;
    background: rgba(20, 20, 20, 0.47);
    border-radius: 35px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* margin-right: 3rem; */
}
.logo img {
    width: 0px;
    height:0px;
    /* padding-right: 3rem; */
}
.navbar-brand{
    padding:0;
    margin:0;
    height:auto;
}
.inner{
    display:block;
    padding:0;
    margin:0;
    font-family:"Audiowide";
    font-size:35px;
}
.daily-mix h1{
    font-size:20px;
}
.navbar-nav{
    display:flex;
    flex-direction: row;
    margin:0;
}
.nav-item{
    padding:0rem 0.3rem;
}
.outer{
    display: none!important;
}
.heading h1{
    width:auto;
    height:auto;
    font-size:20px;
    padding:0rem 1rem;
}
.user-stats {
    width: auto;
    opacity: 0.6;
    display: flex;
    /* overflow:hidden; */
    flex-direction: column;
    /* grid-gap: 1rem; */
    align-items: center;
}
.user-stats h1{
    font-size:13px;
}
