@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* body{
	zoom: 0.9; 
    -moz-transform: scale(0.9); 
    -moz-transform-origin: 0 0;
} */
body {
	font-family: 'Nova Square', sans-serif;
	font-size: 0.8rem;
	color: white;
	height: 100vh;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 0.3em;
	background: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar-thumb {
	background-color: #666;
	border-radius: 50px;
}

button{
	font-size:0.9rem!important;
}
.card_about{
	display: flex;justify-content: center;align-items: center;
}
.card_about img{
	border-radius: 50%;
	width:150px;
}
.table_row {
	display: grid;
	grid-template-columns: 3fr 2fr 1fr;
	color: white;
	grid-gap: 0.5rem;
	justify-content: center;
	align-items: center;
}
.table_row a {
	color: #333;
	background: #fff;
	text-align: center;
	align-items: center;
	padding: 0.4rem 0.5rem;
	border-radius: 20px;
}
.table-row li {
	list-style: none;
}
.table_row a:hover {
	background: rgb(0, 71, 153);
	color: rgb(216, 253, 8);
	transition: 0.5s;
}

.dropdown-content1 {
	display: none;
	position: absolute;
	background-color: #2e2d2e;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown1:hover .dropdown-content1 {
	display: block;
}
.question {
	color: #fff !important;
}
a {
	text-decoration: none;
	color: #fff;
}
.container1 {
	background: url('../resources/backgrounds/iron-man.jpg') no-repeat
		center/cover;
	background-attachment: fixed;
	height: 100vh;
}
.containerForContest {
	background: url('../resources/stones/backgrounds/mind.jpg') no-repeat
		center/cover;
	background-attachment: fixed;
	scroll-behavior: smooth;
	overflow-y: hidden;
	height: 100vh;
}

.containerForRoadmap {
	background: url('../resources/stones/backgrounds/307625.jpg') no-repeat
		center/cover;
	background-attachment: fixed;
	scroll-behavior: smooth;
	overflow-y: hidden;
	height: 100vh;
}

.containerForPowerStone {
	background: url('../resources/stones/backgrounds/power.jpg') no-repeat
		center/cover;
	background-attachment: fixed;
	scroll-behavior: smooth;
	/* overflow-y: hidden; */
	height: 100vh;
}

.container900 {
	background: url('../resources/backgrounds/iron-man.jpg') no-repeat
		center/cover;
	background-attachment: fixed;
	height: 100vh;
}

.container7 {
	background: url('../resources/backgrounds/iron-man.jpg') no-repeat center/cover;
	background-attachment: fixed;
	height: 100vh;
}
.start-topic {
	padding: 0.6rem;
}
.login_page {
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 20%;
	font-family: 'Audiowide';
}
.container2222 {
	font-family: 'Poppins';
	background: url('../resources/backgrounds/codeblast.jpg') center center/cover;
	min-height: 100vh;
}
.containerOverlayCodeBlast {
	background: rgba(0, 0, 0, 0.452);
	min-height: 100vh;
}
.createRoom {
	font-weight: 900;
	padding: 1rem 1rem;
	border: none;
	background: none;
	margin: 1rem !important;
	--webkit-box-reflect: below;
	border: 1px solid rgb(214, 30, 30);
	background: rgb(151, 10, 10);
	color: #fff;
	transition: 0.3s;
}
.join_romms {
	font-weight: 900;
	padding: 1rem 1rem;
	border: none;
	background: none;
	margin: 1rem !important;
	--webkit-box-reflect: below;
	border: 1px solid rgb(30, 42, 214);
	background: rgb(10, 12, 151);
	color: #fff;
	transition: 0.3s;
}
.createRoom:hover {
	background: rgb(151, 10, 10);
	color: #fff;
	box-shadow: 0 0 5px rgb(151, 10, 10), 0 0 25px rgb(151, 10, 10),
		0 0 50px rgb(151, 10, 10), 0 0 200px rgb(151, 10, 10) !important;
}

.join_romms:hover {
	background: rgb(10, 12, 151);
	color: #fff;
	box-shadow: 0 0 5px rgb(10, 12, 151), 0 0 25px rgb(10, 12, 151),
		0 0 50px rgb(10, 12, 151), 0 0 200px rgb(10, 12, 151) !important;
}
.codeBlastBtns {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 1rem;
}
.joinRoomPla {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.room_id {
	padding: 0.5rem 1rem;
	border: none;
	margin: 2rem;
	/* background:rgba(51, 51, 51, 0.301); */
}
.btn-primary {
	margin: 0rem 0.5rem;
}
.container825 {
	display: flex;
}
.content1 {
	display: flex;
	position: absolute;
	top: 25%;
	left: 8%;
	z-index: 100000;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2rem;
}
.heading_topic {
	font-family: NovaMono;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 67px;
}
.start-topic {
	background: rgba(225, 255, 41, 0.33);
	border-radius: 78px;
}
.start-topic:hover {
	transition: 0.5s;
	background: rgb(101, 226, 17);
	color: rgb(0, 0, 0);
}
.container4 {
	background: url('../resources/backgrounds/iron-man.jpg')
		no-repeat center center/cover;
	background-attachment: fixed;
	height: 100vh;
}

.container411 {
	background: url('../resources/backgrounds/iron-man.jpg')
		no-repeat center center/cover;
	background-attachment: fixed;
	height: 100vh;
}
.container8242 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 150vh;
	background-color: rgba(0, 0, 0, 0.6);
}
.container111 {
	background: url('../resources/backgrounds/iron-man.jpg') no-repeat center
		center/cover;
	background-attachment: fixed;
	height: 540vh;
}
.container2 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
}
.container277 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
}

.containerOverlayForRoadmap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.349);
}

.containerOverlayForContest {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.534);
}
.container901 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
}

.container112 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 540vh;
	background-color: rgba(0, 0, 0, 0.7);
}
.container8 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
}
/* hidden */
.hidden {
	display: none !important;
}
/* navbar */
.navbar {
	background-color: black;
}
.logo img {
	width: auto;
	height: 50px;
	padding-right: 3rem;
}
.search img {
	width: 20px;
	height: 20px;
}
.form-control {
	width: 250px;
}
.nav-item {
	padding-left: 3rem;
}

/* User heading content */
.btn-elegant {
	color: #fff;
}
.heading p {
	padding: 0px;
	margin: 0px;
}
.heading {
	width: 300px;
	height: 168px;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 72px;
	color: #ffffff;
	margin-left: 2rem;
}

table tr {
	color: #fff;
}
.heading p {
	font-size: 0.9rem;
}
.user_avatar img {
	width: 45px;
	height: 45px;
	/* boder-radius:50%; */
	border-radius: 50%;
	/* padding: 0rem 2rem ; */
}
.inner {
	display: none;
}
.chartContainer {
	padding: 1rem;
}
.daily-mix {
	width: 400px;
	height: 300px;
	background: rgba(20, 20, 20, 0.47);
	border-radius: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 3rem;
	margin-top: 10px;
	max-height: 75vh;
	overflow: auto;
}
.timer {
	position: absolute;
	right: 5%;
	top: 10%;
	background: rgb(23, 10, 56);
	font-size: 3rem;
	padding: 0.3rem 1rem;
}

.timer22 {
	position: absolute;
	bottom: 0;
	align-items: center;
	justify-content: center;
	background: rgb(23, 10, 56);
	font-size: 3rem;
	padding: 0.3rem 1rem;
}
.timer_for_contest {
	position: absolute;
	bottom: 0;
	align-items: center;
	justify-content: center;
	background: rgb(23, 10, 56);
	font-size: 3rem;
	padding: 0.3rem 1rem;
	right: 0;
}
.contest-time {
	display: grid;
	grid-template-columns: 1fr 0.2fr;
	grid-gap: 1rem;
	padding: 0 1rem;
}
#time {
	float: right;
	margin: 0rem 2rem;
	background: #333;
	padding: 1rem;
	color: red;
}
.daily-mix h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 40px;
	padding-top: 2rem;
	text-decoration: underline;
	/* padding: 1rem; */
	color: #e7e7e7;
}
.problemsets {
	padding: 1rem;
}
.problemsets h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 40px;
	padding-top: 2rem;
	/* padding: 1rem; */
	color: #e7e7e7;
}
.problemsets p {
	font-size: 1rem;
}
.wrapper {
	padding: 0rem 1rem;
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
}
.weak_topics_comp,
.strong_topics_comp {
	overflow: scroll;
	overflow-x: hidden;
	width: 100%;
	/* z-index:100; */
}

.weak_pro,
.strong_pro {
	overflow: scroll;
	overflow-x: hidden;
	width: 550px;
	/* z-index:100; */
}

.topic_pro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.user1 {
	padding: 0 1rem;
}

.users {
	display: flex;
	padding: 0 0.4rem;
}
.handle{
	display: flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
}
.handle1,
.handle2,
.handle_1,
.handle_2 {
	font-size: 1.5rem;
}

.linepro {
	/* display:inline-block; */
	width: 140px;
	height: 2px;
	margin: 0;
}

.line {
	/* display:inline-block; */
	width: 140px;
	height: 2px;
	background: #53dad2;
	/* background:#fff; */
	margin: 0;
}
.line1 {
	/* display:inline-block; */
	/* width: 100px; */
	height: 2px;
	background: #53dad2;
	/* background:#fff; */
	margin: 0;
}
.upsolve {
	overflow: scroll;
	overflow-x: hidden;
}
.unsolved_mysteries {
	overflow: scroll;
	overflow-x: hidden;
}
.list-group-item a {
	color: #000;
}
/* Footer content */

.user-stats {
	position: absolute;
	bottom: 0;
	width: 100%;
	opacity: 0.6;
	display: grid;
	overflow: hidden;
	grid-template-columns: repeat(4, auto);
	grid-gap: 1rem;
	align-items: center;
}
.user-stats h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	padding: 1rem;
}
.item1,
.item2,
.item3,
.item4 {
	cursor: pointer;
	background: #4a4a4a;
	border: 1px solid #000000;
	width: 24vw;
	height: auto;
	box-sizing: border-box;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-dialog {
	width: 1000px;
}

.container {
	position: relative;
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-gap: 3rem;
	grid-template-rows: auto;
	z-index: 1;
}
.container .box {
	position: relative;
	height: 300px;
	background: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
}
.container .box:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	transform: skew(2deg, 2deg);
	z-index: -1;
}
.container .box:nth-child(1)::before {
	background: linear-gradient(315deg, #ff0057, #e64a19);
}
.container .box:nth-child(2)::before {
	background: linear-gradient(315deg, #89ff00, #00bcd4);
}
.container .box:nth-child(3)::before {
	background: linear-gradient(315deg, #e91e63, #5d02ff);
}
.container .box:nth-child(4)::before {
	background: linear-gradient(315deg, #ff0000, #ffc107);
}

.container768 .box:nth-child(5)::before {
	background: linear-gradient(315deg, #ff0000, #ffc107);
}
.container768 .box:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255, 255, 255, 0.05);
	pointer-events: none;
}
.updateCodeblast{
	position: absolute;
	z-index:100;
	bottom:0;
	right:0;
}
.container2222 .container768{
  position: absolute!important;
  top:0!important;
}
.res_table{
	max-width: 600px;
    position: absolute;
    right: 0;
    top: 300px;
}
.container768 {
	position: relative;
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-gap: 3rem;
	grid-template-rows: auto;
	z-index: 1;
}
.container768 .box {
	position: relative;
	height: 200px;
	background: #000000;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	border: 1px solid #000;
}

.container768 .box:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	transform: skew(2deg, 2deg);
	z-index: -1;
}
.container768 .box:nth-child(1)::before {
	background: linear-gradient(315deg, #ff0057, #e64a19);
}
.container768 .box:nth-child(2)::before {
	background: linear-gradient(315deg, #89ff00, #00bcd4);
}
.container768 .box:nth-child(3)::before {
	background: linear-gradient(315deg, #e91e63, #5d02ff);
}
.container768 .box:nth-child(4)::before {
	background: linear-gradient(315deg, #ff0000, #ffc107);
}

.container768 .box:nth-child(5)::before {
	background: linear-gradient(315deg, #ff0000, #ffc107);
}
.container .box:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255, 255, 255, 0.05);
	pointer-events: none;
}
.container768 .box:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255, 255, 255, 0.05);
	pointer-events: none;
}
.content {
	position: relative;
	/* padding: 20px; */
	transform: translateY(40px);
}
.box .content h2 {
	position: absolute;
	top: -60px;
	right: 20px;
	margin: 0;
	padding: 0;
	font-size: 10rem;
	color: rgba(255, 255, 255, 0.5);
	transition: 0.5s;
}
.box:hover .content h2 {
	top: -140px;
}
.box .content h3 {
	margin: 0 0 10px;
	padding: 0;
	font-size: 24px;
	font-weight: 500;
	color: #fff;
}
.box .content p {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 16px;
}
.box .content a {
	position: relative;
	margin: 20px 0;
	padding: 10px 20px;
	text-decoration: none;
	border: 1px solid #fff;
	display: inline-block;
	color: #fff;
	transition: 0.5s;
	transform: translateY(-40px);
	opacity: 0;
	visibility: hidden;
}
.box:hover .content a {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
.box .content a:hover {
	color: #000;
	background: #fff;
}

a:hover {
	text-decoration: none;
}

/* User statistics page CSS*/
.superheroimg {
	margin-left: 5%;
	margin-right: 2%;
	/*padding-top: 20px;*/
	float: left;
	width: 21%;
	height: 441px;
	left: 58px;
	top: 102px;
	/*background: url(../resources/icons/Rect10.png);*/
}

.statistics {
	background-color: #21252987;
	width: 60%;
	/*height: 500px;*/
	float: right;
	margin-right: 5%;
	padding: 40px;
}

.stat {
	height: 30px;
	background-color: #c4c4c4;
	margin-top: 20px;
	margin-bottom: 20px;
	color: black;
	padding: 5px;
	font-size: 18px;
}

.heatmap {
	height: 205px;
	width: 95%;
	border-image: 1px solid white;
}

#username {
	margin-left: 5%;
	width: 20%;
	text-align: center;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 1%;
	font-size: 20px;
	border: 1px solid grey;
	background: rgba(43, 41, 41, 0.35);
}

#profile-photo {
	margin-top: 30px;
	height: 400px;
	width: 300px;
	border-radius: 150px;
	border: 1px solid white;
}
.container1forprofile {
	background: url('../resources/backgrounds/iron-man.jpg') no-repeat center/cover;
	background-attachment: fixed;
	height: 600vh;
}
.container2forprofile {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 600vh;
	background-color: rgba(0, 0, 0, 0.7);
}
.ask_perm {
	position: absolute;
	right: 10%;
	top: 20%;
}
.time_chalo {
	font-size: 4rem;
	position: absolute;
	right: 10%;
	top: 20%;
}
.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
	padding: 1rem 2rem;
}
.btn1 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-sundar {
	background: rgb(14, 38, 177);
	color: #fff;
	padding: 0.5rem 0.5rem;
	border-radius: 20px;
}
.btn-sundar:hover {
	background: #fff;
	color: rgb(14, 38, 177);
	transition: 0.5s;
}
.tr-wr {
	background: #000;
}
#target-val {
	background: rgba(163, 92, 255, 0.753);
	padding: 0.2rem 0.5rem;
	border-radius: 20px;
	border: 0px;
	color: #fff;
}
.target-yaar {
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.btn-sundar2 {
	background: rgb(14, 177, 41);
	color: #fff;
	padding: 0.5rem 0.5rem;
	border-radius: 20px;
}
.btn-sundar2:hover {
	background: #fff;
	color: rgb(14, 177, 49);
	transition: 0.5s;
}
.problemkilist {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}
.problemhye {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0.7rem;
	padding: 1rem;
}
.problemhye a {
	padding: 0.5rem 0.5rem;
	width: auto;
	border-radius: 20px;
	background: rgba(0, 156, 8, 0.89);
}
.problemhye a:hover {
	padding: 0.7rem 0.7rem;
	border-radius: 30px;
	background: rgb(55, 67, 235);
	color: #fff;
	transition: 0.5s;
}

.load-kro {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	background: black;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.load-kro3 {
	position: fixed;
	top: 20vh;
	left: 0;
	z-index: 100000;
	background: black;
	height: 80vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.load-kro2 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	background: black;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.disapper {
	animation: vanish 1s forwards;
}
@keyframes vanish {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
.section33 {
	width: 100%;
	text-align: center;
	font-family: 'Audiowide';
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	grid-gap:2rem;
}
.section33 h1 {
	font-size: 2rem;
	/* padding: 2rem; */
}
.section33 p {
	text-align: justify;
	display: flex;
	font-size:1rem;
	justify-content: center;
	/* align-items: center; */
	flex-direction: column;
}
.card_about{
	text-align:left;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	font-family: 'Poppins';
	width: 1000px;
    grid-gap: 2rem;
	/* flex-direction: column; */
}
/* .section33 a {
	font-family: 'Audiowide';
	color: #ffffff;
	background: rgba(56, 136, 19, 0.582);
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 30px;
	font-size: 1.3rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}
.section33 a:before {
	position: absolute;
	content: '';
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: 50%;
	background: rgba(255, 255, 255, 0.05);
}
.section33 a span:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #0c002b, #ffe817);
	animation: animate1 2s linear infinite;
}
@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}
.section33 a span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to bottom, #0c002b, #ffe817);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(100%);
	}
}
a span:nth-child(3) {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, #0c002b, #ffe817);
	animation: animate3 2s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}
a span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to top, #0c002b, #ffe817);
	animation: animate4 2s linear infinite;

	animation-delay: 1s;
}
@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(-100%);
	}
} */
.side_menu {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	/* position: absolute; */
	position: fixed;
	width: 60px;
	height: 300px;
	left: 0px;
	top: 245px;
	/* width:18vw; */
	background: #c4c4c4;
	border-radius: 0px 60px 60px 0px;
}

.side_menu2 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: fixed;
	width: 60px;
	height: 300px;
	right: 0px;
	top: 240px;

	background: #c4c4c4;
	border-radius: 60px 0px 0px 60px;
}
.section47 {
	padding: 12px 65px;
}
.section47 h1 {
	padding-bottom: 1rem;
}
.q1 {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 1rem;
	padding: 0.5rem;
	background: #2d2d2d;
	color: #fff;
}
.line77 {
	width: 5px;
	height: 100%;
	background: #000;
	position: absolute;
	left: 0;
	bottom: 0;
}

div ::-webkit-scrollbar {
	width: 0.3em;
}
div ::-webkit-scrollbar-thumb {
	background-color: #666;
	border-radius: 50px;
}

.containerForSorting {
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.containerForSorting .section1 {
	display: flex;
	min-height: 100vh;
	max-width: 30vw;
	flex-direction: column;
	padding: 1rem;
	background: #333;
	color: #fff;
}
.containerForSorting .avatar img {
	height: 100px;
}
.containerForSorting .section2 {
	display: flex;
	flex-direction: column;
	background: #555;
	padding: 1rem;
}
.containerForSorting .buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.array {
	display: flex;
	height: 310px;
}
.containerForSorting .section2 .buttonsForSOrting {
	display: grid;
	grid-template-columns: repeat(5, auto);

	justify-content: space-around;
	align-items: center;
}
/* p {
  color: #fff;
} */
.containerForSorting .section1 {
	position: relative;
}
.gotodash {
	position: absolute;
	top: 10px;
	right: 10px;
}
.cenn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* .ask_handle{
  position: absolute;
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  top:40%;
} */
#youtube-icon {
	width: 30px;
	height: 30px;
	color: #fff;
}
.google-sign-in img {
	width: 40px;
	height: 40px;
}
.disp_err {
	background-color: rgb(160, 35, 35);
	width: 100%;
	color: #fff;
}
.disapper2 {
	animation: vanish 10s forwards;
}
@keyframes vanish {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
.chat-header {
	margin: 0 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.chat-header a {
	padding: 0.5rem 1rem;
	/* background: #fff; */
	background: #ffcfcf;
	color: black;
	border-radius: 62px;
	/* margin-right:1.5rem; */
	/* transform: matrix(1,   0, 0, -1, 0, 0); */
}
.chat-header .ready_btn {
	font-weight: 900;
	padding: 0.3rem 1rem;
	border: none;
	background: none;
	margin: 1rem !important;
	--webkit-box-reflect: below;
	border: 1px solid rgb(134, 214, 30);
	background: rgb(48, 163, 38);
	color: #fff;
	transition: 0.3s;
}
.chat-header .ready_btn:hover {
	background: rgb(48, 163, 38);
	color: #fff;
	box-shadow: 0 0 5px rgb(48, 163, 38), 0 0 25px rgb(48, 163, 38),
		0 0 50px rgb(48, 163, 38), 0 0 200px rgb(48, 163, 38) !important;
}

.chat-header .leave_pls {
	font-weight: 900;
	padding: 0.3rem 1rem;
	border: none;
	background: none;
	margin: 1rem !important;
	--webkit-box-reflect: below;
	border: 1px solid rgb(172, 24, 24);
	background: rgb(116, 33, 33);
	color: #fff;
	transition: 0.3s;
}
.chat-header .leave_pls:hover {
	background: rgb(116, 33, 33);
	color: #fff;
	box-shadow: 0 0 5px rgb(116, 33, 33), 0 0 25px rgb(116, 33, 33),
		0 0 50px rgb(116, 33, 33), 0 0 200px rgb(116, 33, 33) !important;
}
.chat-header .disabled {
	background: red;
}
.chat-main {
	display: grid;
	grid-template-columns: 1fr 5fr;
}
.chat-sidebar {
	margin: 0 2rem;
	display: flex;
	flex-direction: column;
}
.chat-sidebar ul {
	list-style: none;
}
.chat-sidebar ul li {
	padding: 1rem 0rem;
	font-size: 1rem;
}
.messages {
	display: flex;
	flex-direction: column;
	height: 80vh;
	justify-content: space-between;
	overflow: auto;
	/* overflow-x: hidden; */
}
.chat-form-container .chat-form {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#msg {
	width: 80%;
	border: none;
	background: none;
	padding: 1rem 0.5rem;
	color: #fff;
	font-size: 1rem;
}
.send-btn {
	background: none;
	border: none;
	color: #fff;
}
.chat-messages {
	display: flex;
	flex-direction: column;
	width: 40%;
}
.message {
	margin: 1rem 0rem;
	background: #333;
	/* background: #C4C4C4; */
	border-radius: 79px;
}
.chat-messages .meta {
	width: 90%;
	padding: 0.3rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.chat-messages .text {
	padding: 0.3rem 1rem;
	width: 100%;
	word-wrap: break-word;
}
.container2222 .disabled {
	background: red;
	transition: 0.5s;
}
body {
	background: rgb(36, 9, 0);
	background: linear-gradient(
		90deg,
		rgba(36, 9, 0, 1) 0%,
		rgba(80, 121, 9, 1) 29%,
		rgba(40, 119, 155, 1) 67%,
		rgba(56, 2, 224, 1) 85%,
		rgba(0, 212, 255, 1) 100%
	);
}
.q1 {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 1rem;
	padding: 0.5rem;
	background: #2d2d2d;
	color: #fff;
}
.line77 {
	width: 5px;
	height: 100%;
	background: #000;
	position: absolute;
	left: 0;
	bottom: 0;
}
.container824 {
	background: url('resources/') no-repeat center
		center/cover;
	background-attachment: fixed;
	height: 150vh;
	/* padding:2rem; */
	position: relative;
}
.container768 {
	padding: 2rem;
}
.container825 {
	padding: 2rem;
}
.footer-img {
	position: absolute;
	/* width: 1440px; */
	/* height: 300px; */
	width: 100%;
	/* left: 0px; */
	bottom: 0;
	/* top: 542px; */
}
.topic-lists {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#chartcont1 {
	padding: 2rem;
}
.topic-lists {
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.heading-topic {
	font-family: NovaMono;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 67px;
}
.topic_select {
	font-family: NovaMono;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 28px;
}
.targetline {
	position: absolute;
	right: 0;
	top: 30%;
	width: 20px;
	height: 40vh;
	background: red;
}
.container3 {
	background: rgb(36, 9, 0);
	background: url('../resources/backgrounds/codeblast.jpg') center center/cover;
	min-height: 100vh;
}
.container4567 {
	background-color: #f8f7fa;
}
.cont1 {
	width: 1000px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cont1 .card1 {
	position: relative;
	width: 300px;
	height: 200px;
	margin: 16px;
}
.cont1 .card1 .face {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
.cont1 .card1 .face.face1 {
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform-origin: bottom;
}
.cont1 .card1 .face.face1 img {
	max-width: 200px;
}
.cont1 .card1 .face.face1 h2 {
	margin: 10px 0 0;
	color: #fff;
	text-align: center;
	font-size: 1.5em;
}
.cont1 .card1:hover .face.face1 {
	transform: translateY(-100%) rotateX(90deg);
	background: #ff0057;
}
.face p {
	color: #333;
}
.cont1 .card1 .face.face2 {
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	transform-origin: top;
	transform: translateY(100%) rotateX(90deg);
}
.cont1 .card1:hover .face.face2 {
	transform: translateY(0%) rotateX(0deg);
}
.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.fa-heart {
	/* color:red; */
	cursor: pointer;
	transition: 0.5s;
}
.fa-heart:hover {
	font-size: 20px;
	color: red;
}
.bookmarked_ques {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	justify-content: center;
	align-items: center;
}
.bookmarked_ques a {
	color: #fff !important;
	/* padding:0.7rem; */
	background: #333;
	margin: 1rem;
}
.buttonsforbhala {
	display: flex;
}
.bookmarked {
	font-size: 0.8rem;
	padding: 0.3rem;
	margin: 0.1rem;
}

.logo_roadmap {
	position: absolute;
	right: 0;
	top: -2%;
	height: 150px;
}
.headingRoadmap {
	text-align: center;
	padding: 40px 200px;
}
.stones {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 15px;
	margin: 0 auto;
}
.back_btn {
	position: absolute;
	top: 0;
	left: 0;
}
.cardforstones {
	position: relative;
	width: 300px;
	color: #333;
	height: 400px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 15px 60px rgba(60, 32, 221, 0.5);
}
.cardforstones .facefs {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardforstones .facefs.f1 {
	box-sizing: border-box;
	padding: 20px;
}
.cardforstones .facefs.f1 h2 {
	margin: 0;
	padding: 0;
}

.cardforstones .facefs.f2 {
	background: #111;
	transition: 0.5s;
}

.cardforstones:nth-child(1) .facefs.f2 {
	/* background: url('../resources/stones/mind.png') no-repeat cne; */

	background: linear-gradient(
		90deg,
		rgba(181, 24, 187, 1) 0%,
		rgba(92, 19, 91, 1) 51%,
		rgba(191, 75, 195, 1) 100%
	);
}
.cardforstones:nth-child(6) .facefs.f2 {
	/* background: url('../resources/stones/mind.png') no-repeat cne; */
	background: linear-gradient(
		90deg,
		rgba(130, 93, 60, 1) 0%,
		rgba(205, 193, 28, 1) 51%,
		rgba(142, 96, 54, 1) 100%
	);
}

.cardforstones:nth-child(2) .facefs.f2 {
	/* background: url('../resources/stones/mind.png') no-repeat cne; */
	background: linear-gradient(
		90deg,
		rgba(127, 60, 130, 1) 0%,
		rgba(28, 33, 205, 1) 51%,
		rgba(139, 54, 142, 1) 100%
	);
}

.cardforstones:nth-child(3) .facefs.f2 {
	/* background: url('../resources/stones/mind.png') no-repeat cne; */

	background: linear-gradient(
		90deg,
		rgba(187, 24, 24, 1) 0%,
		rgba(92, 19, 19, 1) 51%,
		rgba(195, 75, 75, 1) 100%
	);
}

.cardforstones:nth-child(4) .facefs.f2 {
	/* background: url('../resources/stones/mind.png') no-repeat cne; */

	background: linear-gradient(
		90deg,
		rgba(48, 187, 24, 1) 0%,
		rgba(25, 92, 19, 1) 51%,
		rgba(75, 195, 86, 1) 100%
	);
}

.cardforstones:nth-child(5) .facefs.f2 {
	/* background: url('../resources/stones/mind.png') no-repeat cne; */

	background: linear-gradient(
		90deg,
		rgba(105, 39, 49, 1) 0%,
		rgba(251, 84, 84, 1) 51%,
		rgba(92, 33, 33, 1) 100%
	);
}
.cardforstones .facefs.f2:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255, 255, 255, 0.1);
}
.cardforstones:hover .facefs.f2 {
	height: 60px;
	border-radius: 40px 40px 0 0;
}
.cardforstones .facefs.f2 h2 {
	margin: 0%;
	padding: 0%;
	color: #fff;
	transition: 0.5s;
}
.cardforstones:hover .facefs.f2 h2 {
	font-size: 1.4em;
}

.try2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	grid-gap: 1rem;
}
.rotate {
	height: 170px;
	animation: rotation 30s infinite linear;
	border-radius: 50%;
}
.power {
	box-shadow: 0 4px 8px 0 rgba(250, 1, 237, 0.445),
		0 6px 20px 0 rgba(255, 0, 221, 0.473);
}
.time {
	box-shadow: 0 4px 8px 0 rgba(1, 250, 13, 0.445),
		0 6px 20px 0 rgba(0, 255, 34, 0.473);
}
.space {
	box-shadow: 0 4px 8px 0 rgba(1, 26, 250, 0.445),
		0 6px 20px 0 rgba(25, 0, 255, 0.473);
}
.mind {
	box-shadow: 0 4px 8px 0 rgba(204, 250, 1, 0.445),
		0 6px 20px 0 rgba(166, 255, 0, 0.473);
}
.soul {
	box-shadow: 0 4px 8px 0 rgba(250, 113, 1, 0.445),
		0 6px 20px 0 rgba(255, 166, 0, 0.473);
}
.reality {
	box-shadow: 0 4px 8px 0 rgba(250, 1, 1, 0.445),
		0 6px 20px 0 rgba(255, 0, 0, 0.473);
}
.card_stones:nth-child(6):hover {
	background: rgba(179, 166, 53, 0.9);
	transition: 1s;
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
.card_stones {
	display: flex;
	font-family: 'Poppins';
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	margin-bottom: 4rem;
	width: 300px;
	height: 476px;
	background: rgba(179, 166, 53, 0.56);
}
.syl {
	/* height:70px; */
	text-align: center;
	padding-left: 30px;
	align-items: center;
	background: rgba(0, 0, 0, 0.274);
	padding: 0.4rem 1rem;
	margin: 0.5rem;
	display: flex;
	/* justify-content: center; */
}
.ekaurline {
	height: 32px;
	background: rgba(0, 0, 0, 0.363);
	width: 8px;
}
.intro_Card {
	padding: 40px;
	position: absolute;
	bottom: 0vh;
	/* width:400px; */
	left: 0;
	right: 0;
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: #19212c;
	border-radius: 10px;
	/* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(50,46,46,1) 52%, rgba(89,81,53,1) 100%);  */
}
.intro_Card img {
	height: 160px;
}
.intro_Card .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.intro_Card .btn {
	width: 40%;
	height: 100%;
}
.cardForStone {
	display: flex;
	/* position: absolute; */
	width: 500px;
	justify-content: center;
	border-radius: 30px;
	align-items: center;
}

.card_stones:nth-child(1) {
	background: rgba(175, 53, 179, 0.56);
	transition: 1s;
}

.card_stones:nth-child(1):hover {
	background: rgba(175, 53, 179, 0.9);
	transition: 1s;
}
.card_stones:nth-child(2) {
	background: rgba(61, 53, 179, 0.56);
	transition: 1s;
}

.card_stones:nth-child(2):hover {
	background: rgba(61, 53, 179, 0.9);
	transition: 1s;
}
.card_stones:nth-child(3) {
	background: rgba(179, 61, 53, 0.56);
	transition: 1s;
}

.card_stones:nth-child(3):hover {
	background: rgba(179, 61, 53, 0.9);
	transition: 1s;
}
.card_stones:nth-child(4) {
	background: rgba(179, 120, 53, 0.56);
	transition: 1s;
}

.card_stones:nth-child(4):hover {
	background: rgba(179, 120, 53, 0.9);
	transition: 1s;
}
.card_stones:nth-child(5) {
	background: rgba(53, 179, 59, 0.56);
	transition: 1s;
}

.card_stones:nth-child(5):hover {
	background: rgba(53, 179, 59, 0.9);
	transition: 1s;
}
.card_stones:nth-child(6) {
	z-index: 100;
	background: rgba(179, 166, 53, 0.56);
	transition: 1s;
}
.power_shadow {
	background: rgba(175, 53, 179, 0.815);
}

.space_shadow {
	background: rgba(61, 53, 179, 0.815);
}

.time_shadow {
	background: rgba(53, 179, 59, 0.815);
}

.mind_shadow {
	background: rgba(179, 166, 53, 0.56);
}

.reality_shadow {
	background: rgba(179, 61, 53, 0.815);
}
.soul_shadow {
	background: rgba(179, 120, 53, 0.815);
}
.cardForStone img {
	height: 100px;
	margin: 1rem;
}
.centerWidgets {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	position: absoulute;
	top: 50%;
	align-items: center;
}
.contentForStone {
	padding: 1rem;
	font-family: 'Poppins';
}

.contentForStone a {
	position: relative;
	margin: 20px 0;
	padding: 10px 20px;
	text-decoration: none;
	border: 1px solid #fff;
	display: inline-block;
	color: #fff;
	transition: 0.5s;
	transform: translateY(-40px);
	opacity: 0;
	visibility: hidden;
}
.contentForStone:hover a {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
.contentForStone a:hover {
	color: #000;
	background: #fff;
}
.logo_light {
	position: absolute;
	top: 0;
	right: 2%;
	height: 100px;
}
.main-section {
	/* display: grid;
  grid-template-columns: 1fr 5fr; */
	height: 100%;
}
.sideBar {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	position: fixed;
	width: 18vw;
	padding: 1rem;
	transition: 0.5s;
}
.image_sm {
	height: 100px;
}
.syl_list {
	list-style: none;
}
.syl_list li {
	padding: 1rem;
	background: rgba(255, 82, 255, 0.589);
	margin: 1rem;
}
.content_face {
	/* width:100%; */
	/* height:100%; */
	padding: 1rem;
	color: #000;
	font-family: 'Poppins';
	background: rgb(255, 255, 255);
}
.syllabus {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cke_button_arrow {
	display: none !important;
}
.add_body h2 {
	padding: 1rem 0rem;
}

.add_body h3 {
	padding: 1rem 0rem;
}
.hints_inp {
	height: 300px;
}
.collapse_sidebar {
	cursor: pointer;
}
.collapse_bar {
	transition: 0.5s;
	width: 100px !important;
}
.expand_bar {
	transition: 0.5s;
	width: 18vw !important;
}
.blog {
	font-family: 'Poppins';
	background: rgb(243, 243, 243);
	color: #333;
	padding: 1rem;
	min-height: 100vh;
	padding-right: 4vw;
	margin-left: 18vw;
	transition: 0.5s;
}
.tox-notification {
	display: none !important;
}
.tox-statusbar__branding {
	display: none !important;
}
.syl_list li {
	cursor: pointer;
}
.msg {
	position: absolute;
	bottom: 0;
	font-family: 'Poppins';
	background: rgba(0, 0, 0, 0.774);
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.badhiya_btn {
	position: relative;
	margin: 20px 0;
	padding: 10px 20px;
	text-decoration: none;
	border: 1px solid #fff;
	display: inline-block;
	/* color: #fff; */
	transition: 0.5s;
}
.badhiya_btn:hover {
	color: #000 !important;
	background: #fff;
}
.msg_info {
	padding: 1rem;
}
.after_contest {
	position: absolute;
	top: 10px;
	right: 10px;
}
.stoneimg {
	height: 100px;
}

body ::-webkit-scrollbar {
	width: 0.3em;
}
body ::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 50px;
}

div ::-webkit-scrollbar {
	width: 0.5em;
}
div ::-webkit-scrollbar-thumb {
	background-color: #666;
	border-radius: 50px;
}

.table_for_results_roadmap {
	max-width: 600px;
}
.table_for_results_roadmap a {
	color: #fff;
}
.table_for_results_roadmap a:hover {
	color: rgb(43, 255, 0);
}
.container2222 .box{
	width:200px;
	height:170px;
}
.alert_display{
	position: absolute;
	top:0;
	z-index: 1000000;
}