@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.hidden{
  display: none;
  }
.error{
  background:red;
  width:100%;
  }
.success{
  background:green;
  width:100%;
  }
.disabled{
  background:red;
  }

nav{
  position: absolute;
  width: 1400px;
  height: 131px;
  left: 20px;
  top: 50px;
}
body{
  /* if browser doesn,t support gradient */
  background-color: navajowhite; 

  background-image: linear-gradient(to right, maroon, navy);
}

.buttons{
  border-radius: 50%;
  margin: 5px;
}

.content{
  background-color: #c1bdbd;
  width: 525px;
  height: 303px;
  margin-left: 33%;
  padding: 8px;
}
.contenttitle{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #FFFFFF;
}
.handlemsg{
  width: 20%;
  margin-left: 40%;
}
.formtoenter{
  width: 525px;
  margin-left: 33%;
  padding: 8px;
}
