@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$padding-top: 30px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "Montserrat";
  background-color: #fff9f3;
  overflow-x: hidden;
}
.hidden {
  display: none !important;
}
.badges {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 3rem 5rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
  .badges_given {
    display: flex;
    grid-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .badge {
    padding: 2rem 2rem;
    .level {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-gap: 1rem;
      img {
        width: 30px;
        height: 30px;
        filter: drop-shadow(0px 0px 20px rgba(164, 206, 11, 0.5));
      }
    }
    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;

      filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
    }
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 13px;
    }
    transition: 0.5s;
    &:hover {
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    }
    border: 1px solid #d6d6d6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    min-height: 400px;
    align-items: center;
    grid-gap: 2rem;
    text-align: center;
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
.header {
  height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  .animated {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
  }
  h1 {
    font-size: 3rem;
  }
  input {
    font-family: "Montserrat";
  }
  button {
    font-family: "Montserrat";
  }
}
.greet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  h1 {
    line-height: 2.7rem;
  }
}
.greet {
  height: 100vh;
}
.disp_err {
	background-color: rgb(160, 35, 35);
	width: 100%;
	color: #fff;
}
.loader{
  display: flex;
  position: absolute;
  align-items:center;
  justify-content:center;
  z-index: 10000;
  background: #fff9f3;
  height: 100vh;width:100vw;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.number_of_questions,
.heatmap_user {
  display: flex;
  // flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  grid-gap: 2rem;
  flex-wrap: wrap;
  min-height: 100vh;
  h1 {
    text-align: center;
    padding: 1rem 1rem;
  }
  .card {
    padding-top: $padding-top;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.5);
    img {
      max-width: 349px;
    }
  }
}
.heatmap_user {
  flex-direction: column;
  .card {
    min-height: 400px;
    width: 600px;
    .heatmap_button {
      width: 500px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
.rating_stats {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  // padding:1rem 3rem;/
  img {
    max-width: 400px !important;
  }
  .card {
    padding-top: $padding-top;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    grid-gap: 2rem;
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.5);
  }
}
.sub_rat_ok {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  // padding:1rem 3rem;/
  .card {
    padding-top: $padding-top;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    grid-gap: 2rem;
    width: 800px;
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.5);
  }
}
.day_stats,
.month_stats,
.longest_streak {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  img {
    max-width: 349px;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // text-align: center;
    // align-items: center;
    h1,
    h2 {
      text-align: left;
      padding: 1rem 1rem;
    }
  }
}
.month_stats {
  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // text-align: center;
    // align-items: center;
    h1,
    h2 {
      text-align: right;
      padding: 1rem 1rem;
    }
  }
}
.share_everywhere {
  display: flex;
  // flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  grid-gap: 2rem;
  flex-wrap: wrap;
  min-height: 100vh;
  .card {
    padding-top: $padding-top;
    background-color: #fff;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    grid-gap: 2rem;
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.5);
    
    img {
      max-width: 349px;
      padding: 1rem 2rem;
    }
    div {
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 400px;
      grid-gap: 2rem;
    }
  }
}
.flipper-input {
  position: relative;
  perspective: 500px;
  color: #fff;
}

.flipper-input__input {
  background-color: #3363ff;
  background-image: linear-gradient(
    to top left,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  color: #fff;
  padding: 10px;
  min-width: 200px;
  font-size: 15px;
  border-radius: 2px;
  transform-origin: bottom center;
  transition: 0.4s cubic-bezier(0.34, 1.4, 0.64, 1);
  transform: rotateX(90deg);
}

.flipper-input__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.flipper-input__input:focus {
  transform: rotateX(0);
  background-color: #3363ff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.flipper-input__label {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #3363ff;
  transition: 0.1s ease;
  transform-origin: bottom center;
  cursor: text;
}

.flipper-input__input:focus ~ .flipper-input__label {
  opacity: 0;
  visibility: hidden;
}

.flipper-input__label::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: border-radius;
  background-color: #3363ff;
  transition: 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform-origin: bottom center;
}

.flipper-input__input:focus ~ .flipper-input__label::after {
  transform: rotateX(90deg);
}
.angled-gradient-button {
  background-size: 220%;
  box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.15);
  color: #3363ff;
  background-color: transparent;
  background-position: 100%;
  border: 3px solid #3363ff;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 3px;
  transition: all 0.2s ease-out;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: 2px;
  background-image: linear-gradient(
    110deg,
    #3363ff 0%,
    #3363ff 50%,
    transparent 50%,
    transparent 100%
  );
  font-size: 14px;
}

.angled-gradient-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
  background-position: 0;
  color: #fff;
}

.angled-gradient-button:active {
  transform: translateY(-1px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.blobby-button {
  img {
    padding: 0rem 0.5rem !important;
  }
}
.twitter_btn {
  color: #1da1f2 !important;
  .blob {
    background: #1da1f2 !important;
  }
  &:hover {
    color: #fff !important;
  }
}

.facebook_btn {
  color: #1da1f2 !important;
  .blob {
    background: #1da1f2 !important;
  }
  &:hover {
    color: #fff !important;
  }
}

.insta_btn {
  color: #e145a5 !important;
  .blob {
    background: #e145a5 !important;
  }
  &:hover {
    color: #fff !important;
  }
}

.linkedin_btn {
  color: #0a66c2 !important;
  .blob {
    background: #0a66c2 !important;
  }
  &:hover {
    color: #fff !important;
  }
}
.blobby-button {
  font-weight: 900;
  overflow: hidden;
  outline: none;
  display: flex;
  height: 76px;
  width: 285px;
  color: #9a02ff;
  background-color: transparent;
  text-align: center;
  position: relative;
  border: solid;
  padding: 1em 2em;
  border-radius: 4px;
  transition: color calc(0.5s * 0.75);
  font-weight: 900;
  cursor: pointer;
  align-items: center;
  letter-spacing: 2px;
  justify-content: center;
  z-index: 1;
  font-size: 16px;
}

.blobby-button .blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}

.blobby-button .blob:nth-child(1) {
  left: 0;
  transition-delay: 0;
}

.blobby-button .blob:nth-child(2) {
  left: calc(120% / 4);
  transition-delay: calc((0.5s * 0.12) * 1);
}

.blobby-button .blob:nth-child(3) {
  left: calc(2 * (120% / 4));
  transition-delay: calc((0.5s * 0.12) * 2);
}

.blobby-button:hover .blob {
  transform: translateZ(0) scale(1.7);
}

.blobby-button .blob:nth-child(4) {
  left: calc(3 * (120% / 4));
  transition-delay: calc((0.5s * 0.12) * 3);
}

.blobby-button:before {
  width: 100%;
  left: 0;
  height: 100%;
  position: absolute;
  border-radius: 4px;
  top: 0;
  content: "";
  z-index: 1;
}

.blobby-button .blob {
  position: absolute;
  top: 3px;
  width: calc(100% / 4);
  height: 100%;
  background: #9a02ff;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.5s;
}

.blobby-button:hover {
  color: #fff;
}

.blobby-button > svg {
  display: none;
}

.blobby-button .inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  a {
    text-decoration: none;
    color: #0a66c2;
    transition: 1s;
    &:hover {
      letter-spacing: 0.5rem;
    }
  }
}

//loader
.load {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  display: none;
}

//Media Queries
@media (max-width: 900px) {
  html {
    overflow-x: hidden;
    br {
      display: none;
    }
  }
  h1,
  h2 {
    text-align: center !important;
  }
  .month_stats {
    flex-direction: column-reverse;
  }
  .share_everywhere {
    .card {
      width: 400px !important;
    }
  }
  .card_share {
    flex-direction: column;
  }
  .heatmap_user {
    margin: 0 -20px;
    .card {
      width: 400px !important;
    }
  }
}

.borderman {
  display: inline-block;
  position: relative;
  opacity: 0.999;
  margin: 0.3em;
  padding: 0.5em 1.5em;
  border-radius: 3px;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 2rem;
  &.btn-border {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: #999;
    font-weight: 400;
    &:hover {
      color: #9b59b6;
      &:after {
        height: calc(100% + (2px * 2));
        border-color: #9b59b6;
      }
      &:before {
        width: calc(100% + (2px * 2));
        border-color: #9b59b6;
      }
    }
    &:before {
      width: 0;
      height: 100%;
      border-width: 2px 0 2px 0;
      top: -2px;
      left: -2px;
      transition-delay: 0.05s;
    }
    &:after {
      width: 100%;
      height: 0;
      border-width: 0 2px 0 2px;
      top: -2px;
      left: -2px;
    }
  }
}
.borderman.btn-border:before,
.borderman.btn-border:after {
  content: "";
  border-style: solid;
  position: absolute;
  z-index: 5;
  border-radius: 3px;
  box-sizing: content-box;
  transition: all 0.3s;
}
